# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
ENV/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Database (optional to ignore local instance)
*.sqlite3

# Logs & OS
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
